body {
    padding-top: 56px;
}

.anchor {
    display: block;
    position: relative;
    top: -56px;
}

section {
    padding-bottom: 25px;
    border-bottom: 2px solid #9696969c;
}

#diasor {
    border-bottom: none;
    padding-bottom: 0;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

li{
    color:white;
}
p,a,h1,h2{
    font-family: sans-serif;
}
.dia-elem-szovegdoboz{
    color: #9696969c;
}
.nav{
    font-weight: 600;
}